body{
background-color:white;
}
.h{
background-color:#ff1a1a;
border:10px;
}
.top{
font-size:16px;
margin-left:680px;
font-color:red;
}
.nav-item{
margin-left:270px;
}
.mb-3{
margin-top:100px;
margin-left:400px;
width:500px;
}
.btn{
margin-top:-68px;
margin-left:550px;
width:150px;
background-color:red;

}
.btn:hover{
background-color:grey;
}
.form-label{
color:red;
}
.image11{
width:800px;
margin-left:490px;

opacity:0.9;
margin-top:80px;
border-radius:1px;
background-color:lightgrey;
}
.imge{
border-radius:8px;
margin-left:50px;
margin-top:10px;
}

.download111{
background-color:#e0e0d1;
margin-left:400px;
border:30px;
width:800px;
border-radius:8px;
}
.quality1{
margin-left:450px;
margin-top:-100px;
}
.btn11{
background-color:#ffcccb;
margin-top:-10px;
border-radius:5px;
background-color:lightgreen;

}
.btn11:hover{
background-color:darkgreen;
}
.a:hover{
color:green;
}
.nav-item:hover{
color:green;
}


